
.weather{
    background-color: #4c639179;
}

.fuente{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}