.weather{
    background-color: #415b8d60;
    background-image: url(https://okdiario.com/img/2021/12/08/engin-akyurt-gjilnne_hfg-unsplash11.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100vh;
}